USE [master]
GO
/****** Object:  Database [DSP_API]    Script Date: 01-Mar-24 9:34:16 AM ******/
CREATE DATABASE [DSP_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSP_API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DSP_API.ndf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSP_API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DSP_API_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSP_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSP_API]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boxs]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ShareCode] [nvarchar](255) NULL,
	[Url] [nvarchar](255) NULL,
	[UserId] [int] NULL,
	[DateCreated] [datetime2](7) NULL,
	[View] [int] NULL,
	[Img] [nvarchar](max) NULL,
	[AdminBan] [bit] NULL,
	[SharedStatus] [bit] NOT NULL,
	[ShareView] [varchar](255) NULL,
	[ShareEdit] [varchar](255) NULL,
 CONSTRAINT [PK_Boxs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxShares]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxShares](
	[BoxId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[EditAccess ] [bit] NULL,
 CONSTRAINT [PK__BoxShare__60252D3E54EEA8C4] PRIMARY KEY CLUSTERED 
(
	[BoxId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[BoxId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Size] [decimal](18, 2) NOT NULL,
	[DatePost] [datetime2](7) NOT NULL,
	[BoxId] [int] NOT NULL,
	[View] [int] NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK__UserRole__F9B31440DEF2BBCD] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[BanEnabled] [bit] NULL,
	[Description] [nvarchar](255) NULL,
	[Img] [nvarchar](255) NULL,
	[JobTitle] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votes]    Script Date: 01-Mar-24 9:34:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoxId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Votes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Boxs] ON 

INSERT [dbo].[Boxs] ([id], [Title], [Content], [ShareCode], [Url], [UserId], [DateCreated], [View], [Img], [AdminBan], [SharedStatus], [ShareView], [ShareEdit]) VALUES (2, N'sieu cap doi ten ne ', N'<p>[object HTMLDivElement]dwesfd</p><p><br></p><p>fwrbub&nbsp;</p><p>fruweibfeu bff&nbsp;</p>', NULL, N'bai-viet-dau-tien-bang-api', 1, CAST(N'2023-08-10T11:37:25.6757030' AS DateTime2), 239, N'Uploads/Defaults/boxImage.png', 0, 1, N'qzBjf2dfFfA50g5AXPfaEYaJP4KZm7', N'U9zXzdaVBiC3b3Pb7aIpagxf2L6Q3V')
INSERT [dbo].[Boxs] ([id], [Title], [Content], [ShareCode], [Url], [UserId], [DateCreated], [View], [Img], [AdminBan], [SharedStatus], [ShareView], [ShareEdit]) VALUES (5, N'Test file lan N', N'hello hee', NULL, N'bai-5-co-anhPnrE4T', 1, CAST(N'2023-08-10T11:59:50.5269661' AS DateTime2), 685, N'Uploads/string/bai-5-co-anhPnrE4T/avt/47023.png', 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Boxs] OFF
GO
INSERT [dbo].[BoxShares] ([BoxId], [UserId], [EditAccess ]) VALUES (2, 3, 1)
INSERT [dbo].[BoxShares] ([BoxId], [UserId], [EditAccess ]) VALUES (5, 4, 1)
INSERT [dbo].[BoxShares] ([BoxId], [UserId], [EditAccess ]) VALUES (6, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [Content], [DateCreated], [BoxId], [UserId]) VALUES (1, N'sieu qua, tuyet voi', CAST(N'2023-10-19T14:11:54.2734715' AS DateTime2), 2, 1)
INSERT [dbo].[Comment] ([Id], [Content], [DateCreated], [BoxId], [UserId]) VALUES (2, N'sieu qua ', CAST(N'2023-10-19T14:43:26.6216520' AS DateTime2), 2, 1)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

INSERT [dbo].[Files] ([id], [Name], [Size], [DatePost], [BoxId], [View]) VALUES (5, N'47011.png', CAST(0.07 AS Decimal(18, 2)), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 12, 0)
INSERT [dbo].[Files] ([id], [Name], [Size], [DatePost], [BoxId], [View]) VALUES (6, N'47014.png', CAST(0.08 AS Decimal(18, 2)), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 12, 0)
INSERT [dbo].[Files] ([id], [Name], [Size], [DatePost], [BoxId], [View]) VALUES (7, N'47014.png', CAST(0.08 AS Decimal(18, 2)), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 14, 0)
SET IDENTITY_INSERT [dbo].[Files] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (2, N'Edit')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([RoleId], [UserId]) VALUES (1, 1)
INSERT [dbo].[UserRoles] ([RoleId], [UserId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [Username], [Password], [BanEnabled], [Description], [Img], [JobTitle], [Name], [Email]) VALUES (1, N'string', N'string', 0, N'12344', N'Uploads/string/47011.png', N'ba dev', N'ngocanh', NULL)
INSERT [dbo].[Users] ([id], [Username], [Password], [BanEnabled], [Description], [Img], [JobTitle], [Name], [Email]) VALUES (3, N'string1', N'string', 0, NULL, N'Uploads/string1/47000.png', NULL, N'string1', NULL)
INSERT [dbo].[Users] ([id], [Username], [Password], [BanEnabled], [Description], [Img], [JobTitle], [Name], [Email]) VALUES (4, N'string2', N'string', 0, NULL, N'Uploads/Defaults/avtuser.jpg', NULL, N'string2', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Votes] ON 

INSERT [dbo].[Votes] ([Id], [BoxId], [UserId]) VALUES (2, 2, 1)
SET IDENTITY_INSERT [dbo].[Votes] OFF
GO
/****** Object:  Index [IX_Boxs_UserId]    Script Date: 01-Mar-24 9:34:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Boxs_UserId] ON [dbo].[Boxs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BoxShares_BoxId]    Script Date: 01-Mar-24 9:34:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_BoxShares_BoxId] ON [dbo].[BoxShares]
(
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_BoxId]    Script Date: 01-Mar-24 9:34:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_BoxId] ON [dbo].[Comment]
(
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Files_BoxId]    Script Date: 01-Mar-24 9:34:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Files_BoxId] ON [dbo].[Files]
(
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [username]    Script Date: 01-Mar-24 9:34:16 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Votes_BoxId]    Script Date: 01-Mar-24 9:34:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_Votes_BoxId] ON [dbo].[Votes]
(
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Boxs] ADD  DEFAULT (CONVERT([bit],(0))) FOR [SharedStatus]
GO
ALTER TABLE [dbo].[Files] ADD  DEFAULT ((0)) FOR [View]
GO
ALTER TABLE [dbo].[Boxs]  WITH CHECK ADD  CONSTRAINT [FK_Boxs_Accounts_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Boxs] CHECK CONSTRAINT [FK_Boxs_Accounts_UserId]
GO
ALTER TABLE [dbo].[BoxShares]  WITH CHECK ADD  CONSTRAINT [boxshare] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BoxShares] CHECK CONSTRAINT [boxshare]
GO
ALTER TABLE [dbo].[BoxShares]  WITH CHECK ADD  CONSTRAINT [sharebox] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BoxShares] CHECK CONSTRAINT [sharebox]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Boxs_BoxId] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Boxs_BoxId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [usercommer] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [usercommer]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Boxs_BoxId] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Boxs_BoxId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [roleuser] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [roleuser]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_Votes_Boxs_BoxId] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_Votes_Boxs_BoxId]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [uservote] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [uservote]
GO
USE [master]
GO
